<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Machine Management</title>
</head>
<body>
<h1>Добро пожаловать в приложение для управления кофемашинами!</h1>
<ul>
    <li><a href="/coffee-machines/list">Посмотреть все кофемашины</a></li>
    <li><a href="/coffee-machines/add">Добавить новую кофемашину</a></li>
    <li><a href="/coffee-machines/search">Поиск кофемашины</a></li> <!-- Кнопка для перехода на форму поиска -->
</ul>
</body>
</html>
